<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.spring.javagreenS_lhs.dao.MagazineDAO">
	<select id="magazineGet" resultType="com.spring.javagreenS_lhs.vo.MagazineVO">
		select * from magazine order by fDate desc limit #{startIndexNo},#{pageSize};
	</select>
	
	<select id="magazineViewGet" resultType="com.spring.javagreenS_lhs.vo.MagazineVO">
		select * from magazine where idx = #{idx};
	</select>
	
	<select id="magazineGet2" resultType="com.spring.javagreenS_lhs.vo.MagazineVO">
		select * from magazine where idx = #{idx};
	</select>
	
	<select id="magazineCommentList" resultType="com.spring.javagreenS_lhs.vo.MagazineCommentVO">
		select * from magazineComment where magazineIdx = #{idx};
	</select> 
	
	<select id="magazineSize"  resultType="int">
		select count(magazineComment.idx) cnt from magazine,magazineComment where magazine.idx = magazineComment.magazineIdx and magazine.idx = #{idx};
	</select>
	
	<select id="totRecCnt" resultType="int">
		select count(*) from magazine;
	</select>
	
	<insert id="magazineUploadPost">
		insert into magazine values (default,#{vo.title},#{vo.topic},#{vo.FName},#{vo.FSName},#{vo.FSize},default,default,default,#{vo.content});
	</insert>
	
	<insert id="magazineComment">
		insert into magazineComment values (default,#{magazineIdx},#{vo2.mid},#{vo2.name},default,#{content});
	</insert>
	
	<update id="setMagazineUpdate">
		update magazine set  title = #{vo.title} ,topic = #{vo.topic},  fName = #{vo.FName} , fSName = #{vo.FSName} , fSize = #{vo.FSize} , content = #{vo.content} where idx = #{vo.idx};	
	</update>
	
	<update id="setReadNum">
		update magazine set readNum = readNum + 1 where idx = #{idx};
	</update>
	
	<update id="magazineGood">
		update magazine set good = good + 1 where idx = #{idx};
	</update>
	
	
	<delete id="setMagazineDelete">
		delete from magazine where idx = #{idx};
	</delete>
	
	<delete id="magazineCoDel">
		delete from magazineComment where idx = #{idx};
	</delete>
</mapper>